<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
   <listener>
	<listener-class>
             rub.nds.oidc.oidc_op.ConfigurationManager
        </listener-class>    
   </listener>          
    <servlet>
        <servlet-name>AuthenticationSerlvet</servlet-name>
        <servlet-class>rub.nds.oidc.webapp.AuthenticationSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ClientRegistration</servlet-name>
        <servlet-class>rub.nds.oidc.webapp.ClientRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationSerlvet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientRegistration</servlet-name>
        <url-pattern>/ClientRegistration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>User Authentication</display-name>
        <web-resource-collection>
            <web-resource-name>Authentication Servlet</web-resource-name>
            <description/>
            <url-pattern>/auth/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>projectWorker</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>projectWorker</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>projectWorker</role-name>
    </security-role>
</web-app>
